:root{
    --header-background: #fff;
    --header-height: 60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    
    display: flex;
    z-index: 99;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--header-background);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    height: var(--header-height);
    width: 100%;
}
.header .header-left{
    height: 60px;
    float: left;
    position: relative;
    text-align: center;
    padding-left: 15px;


}
.header .header-left .logo{
  display: inline-block;
  line-height: 60px;
}
a{
        text-decoration: none;
        outline: none;
        cursor: pointer;
}
.header .header-left .logo img{
    
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        padding-bottom: 2px;
        transition: all 0.3s;
}
.bars{
    display: flex;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    color: #000;    
}

.header .page-title-box {
    float: left;
    justify-content: center;
    height: 60px;
    padding: 15px 0px;
    border-radius: 0;
}
.header .page-title-box h3 {
    color: #0d99ff;
    font-size: 20px;
    font-weight: normal;
    
}
.right_header{
    display: flex;
    margin-right: 30px;
    position: relative;
    align-items: center;    
}

.combind{
    display: flex;    
}

.sidebar{
    flex-shrink: 0;
    overflow: hidden;
    /* z-index: 99; */
    width: 230px;
    height: calc(100vh - var(--header-height));
    padding-top: 10px;
    align-items: center;
    justify-content: stretch;
    position: fixed;
    left: 0;
    top: var(--header-height);
    background:#ffffff;
    transition: all 0.3s;
    line-height: unset;
    border-right: 1px solid silver;
}
  .contain{
    width: 100%;
    margin-top: 62px;
    background:  #f8f9fa;
    transition: all 0.3s;
    margin-left: 230px;

  } 
   
 .link{
    display: flex;
    align-items: center;
    /* justify-content:flex-start; */
    color: #b7c0cd;
    transition: all 0.5s ease;
    padding-left: 10  px;
    margin: 0;

 }
 .link:hover{
    color: #44beff;
 }
 .link_text{
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    color: #333333;   
    transition: all 0.5s ease;
    width: 100%;
    font-weight: 400;
    vertical-align: baseline;
 }

 .page-title-box{
  color: rgb(64, 155, 241);
 }
 
 .link_text:hover{
    color: rgb(11, 10, 10);
 }

 .sidebar_name{
  margin-top: 10px;
  margin-left: 10px;
 }

 .active{
    color: #44ff63;
 }

 .icon{
    font-size: 25px;
    font-weight: bold;
 }
 
@media (max-width: 768px){
    .header{
        width: 100%;
    }

    .header .page-title-box h3 {
    color: #0d99ff;
    font-size: 20px;
    font-weight: normal;
    margin-left: 12px;
}

.contain {
    width: 100%;
    margin-top: 62px;
    background: #f8f9fa;
    transition: all 0.3s;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
}

.inputdata_col_div {
    margin-left: 0%;
}

}
 
 